.subscription-flow-main {
	min-height: 100%;
	display: flex;
	flex-flow: column;
}

.subscriptionFlow {
	flex-direction: column;
}

.shop-section {
	background-color: #f7f6f2;
}

.shop-section-meal-menu {
	flex: 1;
}

.flow-view {
	display: none;
}

.flow-view-active {
	composes: flow-view;
	display: block;
}

.choose-your-meals {
	width: 100%;
}

.choose-your-meals-wrapper {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
}

@media screen and (min-width: 992px) {
	.choose-your-meals-wrapper {
		flex-direction: row;
		padding: 30px;
	}
}

.collection-links {
	position: sticky;
	top: 0;
	margin-right: 30px;
	min-width: 200px;
	background-color: #e3f5ed;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 15px;
	z-index: 9;
	flex-grow: 0;
	flex-shrink: 0;
}

@media screen and (min-width: 992px) {
	.collection-links {
		top: 40px;
		background-color: transparent;
		display: block;
		width: auto;
		padding: 0;
	}
}

.collection-links a {
	font-size: 15px;
	line-height: 15px;
	font-family: CeraPRO-Medium, sans-serif;
	text-transform: uppercase;
	color: #0a6661;
	line-height: 1.3;
	display: block;
}

@media screen and (min-width: 992px) {
	.collection-links a {
		margin-bottom: 15px;
	}
}

.collection-links a:not(:last-of-type) {
	margin-right: 10px;
}

@media screen and (min-width: 992px) {
	.collection-links a:not(:last-of-type) {
		margin-right: 0;
	}
}

.meal-select-main {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	padding: 30px;
}

@media screen and (min-width: 992px) {
	.meal-select-main {
		padding: 0;
	}
}

.meal-menu {
	flex-grow: 1;
	flex-shrink: 1;
}

@media screen and (min-width: 992px) {
	.meal-menu {
		margin-right: 20px;
	}
}

.meal-actions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	position: relative;
}

.dropdown {
	position: relative;
}

.filters {
	flex: 1;
	display: inline-flex;
}

.filters-filter-btn {
	width: 120px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: #dedede;
	color: #0a6661;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.filters-filter-btn {
		margin-bottom: 7px;
		margin-right: 3px;
	}
}

.filters-filter-btn h2 {
	font-size: 16px;
	line-height: 16px;
	color: #0a6661;
	line-height: 17px;
	font-family: CeraPRO-Bold, sans-serif;
	margin-bottom: 0;
	margin-top: 0;
	padding: 12px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.dropdown-menu-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s;
}

.dropdown-menu {
	z-index: 3;
	position: relative;
	min-width: 160px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	overflow: hidden;
}

.dropdown-menu li {
	cursor: pointer;
}

.dropdown-menu li a {
	display: block;
	padding: 5px 10px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	outline: none;
	cursor: pointer;
}

.dropdown-open {
	max-height: 999px;
}

.dropdown-menu-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 8px;
	border-top: 1px solid #ccc;
}

.dropdown-menu-controls-clear {
	font-family: CeraPRO-Medium, serif;
	cursor: pointer;
}

.dropdown-menu-controls-save {
	cursor: pointer;
	color: #fff;
	background-color: #0a6661;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: CeraPRO-Medium, serif;
}

.filters-filter-list {
	display: inline-flex;
	width: 100%;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 7px;
}

.chooseForMe {
	max-width: 200px;
	margin: 0 auto;
	padding: 12px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #0a6661;
	color: #fff;
}

@media screen and (min-width: 992px) {
	.chooseForMe {
		position: static;
		height: auto;
		max-width: 250px;
	}
}

.chooseForMe h2 {
	color: #fff;
	margin-bottom: 3px;
	font-size: 16px;
	line-height: 16px;
	line-height: 17px;
	font-family: CeraPRO-Bold, sans-serif;
	margin-bottom: 0;
	margin-top: 0;
}

.chooseForMe p {
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	font-family: CeraPRO-RegularItalic, sans-serif;
}

.meal-list-refresh {
	font-size: 7em;
	color: #0a6661;
	padding: 50px;
	text-align: center;
	margin: 0 auto;
	display: none;
}

.collection-anchor {
	position: relative;
	top: -50px;
}

@media screen and (min-width: 992px) {
	.collection-anchor {
		top: -20px;
	}
}

.collection-title {
	margin-top: 25px;
	margin-bottom: 0;
	text-align: center;
	font-family: CeraPRO-Bold, serif;
	font-size: 1.7em;
	max-width: 800px;
	margin: 10px auto 30px;
}

@media screen and (min-width: 992px) {
	.meal-menu .collection-title {
		font-size: 2em;
	}
}

.meal-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 100px;
}

@media screen and (min-width: 1200px) {
	.meal-list {
		justify-content: flex-start;
	}
}

.meal {
	flex-basis: 48%;
	width: 100%;
	font-family: CeraPRO-Bold, sans-serif;
	background-color: #fff;
	padding-left: 0 !important;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: box-shadow 0.2s ease-in-out;
}

@media screen and (min-width: 1366px) {
	.meal {
		flex-basis: 31%;
		margin: 0 8px 30px;
	}
}

.meal-img {
	width: 100%;
	padding-top: 100%;
	height: 0;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	position: relative;
	overflow: hidden;
}

.meal-details {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	padding: 17px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid #dedede;
}

.meal-details h1 {
	margin-bottom: 8px;
	font-size: 15px;
	line-height: 17px;
	font-family: Copernicus-Bold, sans-serif;
	color: #0a6661;
	text-align: center;
}

@media screen and (min-width: 992px) {
	.meal-details h1 {
		font-size: 21px;
		line-height: 25px;
	}
}

.rte {
	margin: 0;
}

.meal-info {
	font-size: 15px;
	line-height: 15px;
	font-family: CeraPRO-Light, sans-serif;
	color: gray;
	overflow: hidden;
	line-height: 1.3;
	margin-bottom: 7px;
	text-align: center;
}

.price {
	display: block;
	font-size: 1em;
	color: #999;
	margin-left: 7px;
}

.add-to-box {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.add-to-box-btn {
	display: block;
	width: 100%;
	height: 55px;
	background: #0a6661;
	color: #fff;
	font-family: CeraPRO-Light, sans-serif;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 2px solid #0a6661;
	cursor: pointer;
	font-size: 14px;
	outline: 0;
	z-index: 1;
	position: relative;
}

.qty-visible {
	border-bottom-right-radius: 0;
}

@media screen and (min-width: 992px) {
	.add-to-box-btn {
		font-size: 17px;
	}
}

.box-qty {
	display: none;
	justify-content: space-between;
	align-items: center;
	color: #0a6661;
	text-align: center;
	height: 55px;
	position: relative;
	border-bottom-right-radius: 6px;
	border: 2px solid;
}

.circle {
	font-family: CeraPRO-Bold, sans-serif;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	line-height: 1.2;
	margin: 7px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.box-qty h3 {
	font-family: CeraPRO-Bold, sans-serif;
	padding-top: 18px;
	height: 55px;
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	color: #0a6661;
	transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
	.box-qty h3 {
		font-size: 17px;
		padding-top: 16px;
	}
}

.cart-container-wrapper {
	flex-grow: 0;
	flex-shrink: 0;
}

.cart-container {
	display: block;
	position: sticky;
	top: 40px;
}

@media screen and (max-width: 992px) {
	.cart-container {
		z-index: 2;
	}
}

@media screen and (max-width: 992px) {
	.cart-container {
		position: fixed;
		left: 0;
		width: 100%;
		bottom: 0;
		height: 148px;
		top: auto;
		transition: height 0.8s;
		overflow: hidden;
		z-index: 99;
	}
}

@media screen and (max-width: 992px) {
	.expanded {
		height: 100%;
	}
}

.your-box {
	width: 330px;
	height: 600px;
	border-radius: 6px;
	border-top: 1px solid #d7d7d7;
	box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	position: relative;
}

@media screen and (max-width: 992px) {
	.your-box {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.your-box {
		position: absolute;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		height: 100%;
	}
}

.your-box h1 {
	width: 100%;
	color: #333;
	border-bottom: 1px solid #dedede;
	margin-bottom: 0;
	font-size: 20px;
	line-height: 20px;
	padding-top: 14px;
	padding-bottom: 10px;
}

@media screen and (max-width: 475px) {
	.your-box h1 {
		font-size: 21px;
		line-height: 21px;
	}
}

@media screen and (max-width: 992px) {
	.your-box h1 {
		font-size: 16px;
		text-align: left;
		padding: 12px 0 12px 16px;
		-ms-flex-pack: start;
		justify-content: flex-start;
		background-color: #f7f6f2;
		font-family: CeraPRO-Bold, sans-serif;
		color: #0a6661;
	}
}

.desktop-title {
	display: flex;
	justify-content: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

@media screen and (max-width: 992px) {
	.desktop-title {
		display: none;
	}
}

.mobile-price {
	display: none;
	margin-left: 15px;
	margin-right: 15px;
	font-family: CeraPRO-Bold, sans-serif;
	font-size: 15px;
	color: #0a6661;
}

@media screen and (max-width: 992px) {
	.mobile-price {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.meal-cart-total-price {
	display: inline-flex;
}

.expander-btn {
	height: 20px;
	width: 20px;
	margin-left: 15px;
	display: inline-block;
	cursor: pointer;
}

@media screen and (max-width: 992px) {
	.expander-btn {
		background-image: url(//cdn.shopify.com/s/files/1/0080/0735/2399/t/13/assets/group-8.png?v=1749793…);
	}
}

@media screen and (max-width: 992px) {
	.expander-btn {
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 992px) {
	.cart-container.expanded .your-box h1 .expander-btn {
		transform: rotate(0deg);
	}
}

.shipping-gauge-wrapper {
	padding: 15px;
	display: flex;
	flex-direction: column;
	background-color: #f7f6f2;
}

.mobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.mobile {
		display: flex;
		border-bottom: 1px solid #dedede;
	}
}

.shipping-gauge-details {
	text-align: center;
	color: #0a6661;
}

.shipping-gauge-text {
	font-size: 15px;
}

.shipping-gauge-text.bold {
	font-family: CeraPRO-Bold, sans-serif;
}

.meal-cart {
	height: 440px;
	overflow: scroll;
}

.meal-order {
	display: flex;
	border-bottom: 1px solid #dedede;
}

.placeholder-image {
	width: 70px;
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-color: #edf0ef;
	display: flex;
	justify-content: center;
	align-items: center;
}

.meal-order-name {
	flex: 2;
	padding: 10px;
}

.meal-order-name h3 {
	vertical-align: middle;
	font-family: Copernicus-Bold, sans-serif;
	color: #0a6661;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 4px;
}

.meal-order-details {
	display: flex;
	font-family: CeraPRO-Light, sans-serif;
}

.meal-qty {
	flex: 1;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	letter-spacing: 1.1px;
	text-align: center;
}

.modify {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 15px;
}

.add,
.subtract {
	position: relative;
	cursor: pointer;
	width: 18px;
	height: 18px;
	line-height: 1.2;
	border-radius: 50px;
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;
}

.meal-num {
	text-align: center;
	line-height: 1.3;
	padding-left: 4px;
	padding-right: 4px;
}

.cart-footer {
	z-index: 10;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.desktop {
	border-top: 1px solid #dedede;
}

@media screen and (min-width: 992px) {
	.shipping-gauge-text {
		font-size: 14.5px;
	}
}

.your-box button {
	width: 100%;
	font-family: CeraPRO-Bold, sans-serif;
	font-size: 20px;
	border: none;
	color: #fff;
	padding: 20px;
	background-color: #0a6661;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.your-box button:disabled {
    background-color: #afafaf;
}

@media screen and (max-width: 992px) {
	.your-box button {
		height: 51px;
		font-size: 14px;
		border-radius: unset;
		z-index: 2;
		width: 100%;
		bottom: 0;
		position: absolute;
		color: #fff;
		font-weight: 700;
	}
}
