.modal {
	width: 85%;
	overflow: scroll;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	flex-shrink: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 4px;
	opacity: 1;
	cursor: auto;
	transform: scale(1);
	/*position: absolute;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1em;
	color: gray;
}

@media (max-width: 540px) {
	.modal {
		width: calc(100% - 20px);
	}
}

.dialog {
	max-width: 800px !important;
}

.modal-header {
	height: 50px;
	background-color: #0a6661;
	color: #fff;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	top: 0;
	right: 0;
	width: 100%;
}

@media (max-width: 540px) {
	.modal-header {
		margin-bottom: 20vh;
	}
}

.modal-wrapper {
	position: relative;
	text-align: center;
	padding: 35px;
}

@media screen and (min-width: 992px) {
	.modal-wrapper {
		padding: 20px;
	}
}

.h2 {
	font-size: 1.4em;
	margin-bottom: 10px;
	font-family: Copernicus-Bold, serif;
	color: #0a6661;
	margin-top: 0;
	line-height: 1.2;
}

@media screen and (min-width: 992px) {
	.h2 {
		font-size: 2em;
	}
}

.h1-subline {
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 1.4;
}

@media screen and (min-width: 992px) {
	.h1-subline {
		font-size: 1.2em;
	}
}

.modal-instructions {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media screen and (min-width: 992px) {
	.modal-instructions {
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.modal-instruction {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.modal-instruction-headline {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
	.modal-instruction {
		display: block;
		padding: 30px;
	}
}

@media screen and (min-width: 992px) {
	.modal-instruction-headline {
		display: block;
		margin-bottom: 0;
	}
}

.img {
	flex-basis: 25%;
	flex-grow: 0;
	max-width: 100px;
	margin: 0 30px 10px auto;
}

@media screen and (min-width: 992px) {
	.img {
		margin: 0 auto 10px;
	}
}

.h3 {
	font-family: CeraPRO-Medium, serif;
	font-size: 1.2em;
	flex-basis: 75%;
	margin-bottom: 0;
	color: #0a6661;
	margin-top: 0;
	line-height: 1.2;
}

@media screen and (min-width: 992px) {
	.h3 {
		font-size: 1.3em;
		margin-bottom: 10px;
	}
}

.mobile-line-break {
	display: block;
}

@media screen and (min-width: 992px) {
	.mobile-line-break {
		display: inline;
	}
}

.p {
	margin-top: 0;
	line-height: 1.4;
}

.strong {
	font-family: CeraPRO-Medium, serif;
	font-weight: bolder;
}

.modal-close-button {
	padding: 20px;
	font-size: 1.2em;
	background-color: #0a6661;
	color: #fff;
	font-family: CeraPRO-Medium, serif;
	border-radius: 6px;
	border: none;
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 992px) {
	.modal-close-button {
		width: auto;
		display: inline-block;
		text-align: left;
	}
}
