.container {
  min-height: 125vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  height: 100%;
  background-image: url('//cdn.shopify.com/s/files/1/0080/0735/2399/t/13/assets/hero-veggie-bowls-and-oat-bowls-lagoon-mobile.jpg?v=8175654449901816279');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: auto;
}

@media screen and (min-width: 992px) {
  .container {
    min-height: 100vh;
    background-image: url('//cdn.shopify.com/s/files/1/0080/0735/2399/t/13/assets/hero-veggie-bowls-and-oat-bowls-lagoon-desktop.jpg?v=1297946136632451863');
  }
}

.heading {
  font-family: CeraPRO-Medium, sans-serif;
  color: #fff;
  font-size: 1.8em;
  line-height: 1.1;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .heading {
    font-size: 3.5em;
    text-align: left;
  }
}

.subline {
  font-size: 1em;
  font-family: CeraPRO-Medium;
}

@media screen and (min-width: 992px) {
  .subline {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 992px) {
  .desktop-line-break {
    display: block;
  }
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .content-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
  }
}

.main {
  padding: 350px 40px 50px;
  flex: 1;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .main {
    padding: 0 40px 50px;
    text-align: left;
  }
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.navbar {
  height: 75px;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 135px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('//cdn.shopify.com/s/files/1/0080/0735/2399/t/13/assets/mosaic-logo-white.png?v=3762412598609693541');
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
